<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Strategy" value='
{
	"StrategyList":
	[
		{
			"Name":"買雞腿飯送紅茶",
			"Type":"DiscountBonusGift",
			"Condition":
			{
				"Require":
				[{
					"Name":"雞腿飯",
					"Quantity":1
				}],
				"BonusGift":
				[{
					"Name":"紅茶",
					"Quantity":1
				}],
				"CombinationPrice": null,
				"CombinationName" : null,
				"RequiredTotalPrice": null,
				"DiscountValue": null,
				"PriceFactor": null
			}
		},
		
		{
			"Name":"排骨飯買二送一",
			"Type":"DiscountBonusGift",
			"Condition":
			{
				"Require":
				[{
					"Name":"排骨飯",
					"Quantity":2
				}],
				"BonusGift":
				[{
					"Name":"排骨飯",
					"Quantity":1
				}],
				"CombinationPrice": null,
				"CombinationName" : null,
				"RequiredTotalPrice": null,
				"DiscountValue": null,
				"PriceFactor": null
			}
		},
		
		{
			"Name":"全品項滿300折50",
			"Type":"DiscountReturn",
			"Condition":
			{
				"Require": null,
				"BonusGift": null,
				"CombinationPrice": null,
				"CombinationName" : null,
				"RequiredTotalPrice": 300,
				"DiscountValue": 50,
				"PriceFactor": null
			}
		},
		
		{
			"Name":"所有品項全面打九折",
			"Type":"DiscountRebate",
			"Condition":
			{
				"Require": null,
				"BonusGift": null,
				"CombinationPrice": null,
				"CombinationName" : null,
				"RequiredTotalPrice": null,
				"DiscountValue": null,
				"PriceFactor": 0.9
			}
		},
		
		{
			"Name":"買紅茶加蛋糕只要70",
			"Type":"DiscountCombination",
			"Condition":
			{
				"Require": 
				[
					{
						"Name":"紅茶",
						"Quantity":1
					},
					{
						"Name":"蛋糕",
						"Quantity":1
					},
				],
				"BonusGift": null,
				"CombinationPrice": 70,
				"CombinationName" : "紅茶加蛋糕",
				"RequiredTotalPrice": null,
				"DiscountValue": null,
				"PriceFactor": null
			}
		},
		
		{
			"Name":"套餐A:買咖哩飯加蛋糕就送泡芙一個",
			"Type":"DiscountCombination",
			"Condition":
			{
				"Require": 
				[
					{
						"Name":"咖哩飯",
						"Quantity":1
					},
					{
						"Name":"蛋糕",
						"Quantity":1
					},
					{
						"Name":"泡芙",
						"Quantity":1
					},
				],
				"BonusGift": null,
				"CombinationPrice": 125,
				"CombinationName" : "套餐A",
				"RequiredTotalPrice": null,
				"DiscountValue": null,
				"PriceFactor": null
			}
		},
		
		{
			"Name":"套餐B:買雞腿飯加貢丸湯送紅茶一杯",
			"Type":"DiscountCombination",
			"Condition":
			{
				"Require": 
				[
					{
						"Name":"雞腿飯",
						"Quantity":1
					},
					{
						"Name":"貢丸湯",
						"Quantity":1
					},
					{
						"Name":"紅茶",
						"Quantity":1
					},
				],
				"BonusGift": null,
				"CombinationPrice": 130,
				"CombinationName" : "套餐B",
				"RequiredTotalPrice": null,
				"DiscountValue": null,
				"PriceFactor": null
			}
		},
	]
}
'/>
	</appSettings>
</configuration>